h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-transform: uppercase;
  color: #000063;
  background-color: #4848ff;
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
  width: 210px;
  height: 210px;
}

.modelos3 {
  width: 70px;
  height: 210px;
}
